<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_homepage') }}" class="logo">
                        <img class="logo mt-3" src="{{ asset('assets/images/5.png') }}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{{ path('app_homepage') }}" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_propos') }}">A Propos</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_services') }}">Services</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_project') }}">Projects</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_blog') }}">Blog</a></li>
                        <li class="scroll-to-section"><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li class="scroll-to-section"><div class="border-first-button"><a href="#">Nous rejoindre</a></div></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
